name: Recovery Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Free Disk Space
      run: |
        sudo rm -rf /usr/share/dotnet /etc/mysql /usr/local/lib/android
        sudo apt clean

    - name: Install Build Tools
      run: |
        sudo apt update
        sudo apt install -y bc build-essential curl git gperf gcc-multilib g++-multilib lib32ncurses5-dev lib32readline-dev lib32z1-dev liblz4-tool libncurses5-dev libsdl1.2-dev libssl-dev libxml2 libxml2-utils lzop pngcrush rsync schedtool squashfs-tools xsltproc zip zlib1g-dev

    - name: Sync TWRP Source
      run: |
        mkdir ~/twrp && cd ~/twrp
        curl https://storage.googleapis.com/git-repo-downloads/repo > repo
        chmod a+x repo
        ./repo init --depth=1 -u https://github.com/minimal-manifest-twrp/platform_manifest_twrp_omni.git -b twrp-11
        ./repo sync -j$(nproc --all)

    - name: Clone Device Tree
      run: |
        cd ~/twrp
        git clone https://github.com/Cosmic802/A716s-UNOFFICAL-TWRP device/samsung/a716s

    - name: Build
      run: |
        cd ~/twrp
        export ALLOW_MISSING_DEPENDENCIES=true
        . build/envsetup.sh
        lunch omni_a71x-eng
        mka recoveryimage -j$(nproc --all)

    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      with:
        name: TWRP-A716S
        path: /home/runner/twrp/out/target/product/a71x/recovery.img
