name: Build TWRP - A716S

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - name: Maximize Build Space
      uses: easimon/maximize-build-space@master
      with:
        root-reserve-mb: 2048
        swap-size-mb: 10240
        remove-dotnet: 'true'
        remove-android: 'true'
        remove-haskell: 'true'

    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y git-core gnupg flex bison build-essential zip curl zlib1g-dev gcc-multilib g++-multilib libc6-dev-i386 libncurses5 lib32ncurses5-dev x11proto-core-dev libx11-dev lib32z1-dev libgl1-mesa-dev libxml2-utils xsltproc unzip fontconfig

    - name: Get Repo Tool
      run: |
        mkdir ~/bin
        curl https://storage.googleapis.com/git-repo-downloads/repo > ~/bin/repo
        chmod a+x ~/bin/repo
        export PATH=~/bin:$PATH

    - name: Sync Source
      run: |
        export PATH=~/bin:$PATH
        mkdir twrp
        cd twrp
        git config --global user.name "Cosmic802"
        git config --global user.email "action@github.com"
        repo init --depth=1 -u https://github.com/minimal-manifest-twrp/platform_manifest_twrp_aosp.git -b twrp-12.1
        repo sync -c -j$(nproc) --force-sync --no-clone-bundle --no-tags

    - name: Clone Device Tree
      run: |
        cd twrp
        git clone https://github.com/Cosmic802/android_device_samsung_a71x -b main device/samsung/a71x

    - name: Build TWRP
      run: |
        cd twrp
        export ALLOW_MISSING_DEPENDENCIES=true
        . build/envsetup.sh
        lunch omni_a71x-eng
        mka recoveryimage

    - name: Upload Result
      uses: actions/upload-artifact@v4
      with:
        name: TWRP-A716S-Result
        path: twrp/out/target/product/a71x/*.img
